.tailwindcss {
  /* Slate */
  color: #f8fafc;
  color: #f1f5f9;
  color: #e2e8f0;
  color: #cbd5e1;
  color: #94a3b8;
  color: #64748b;
  color: #475569;
  color: #334155;
  color: #1e293b;
  color: #0f172a;
  color: #020617;
  /* Gray */
  color: #f9fafb;
  color: #f3f4f6;
  color: #e5e7eb;
  color: #d1d5db;
  color: #9ca3af;
  color: #6b7280;
  color: #4b5563;
  color: #374151;
  color: #1f2937;
  color: #111827;
  color: #030712;
  /* Zinc */
  color: #fafafa;
  color: #f4f4f5;
  color: #e4e4e7;
  color: #d4d4d8;
  color: #a1a1aa;
  color: #71717a;
  color: #52525b;
  color: #3f3f46;
  color: #27272a;
  color: #18181b;
  color: #09090b;
  /* Neutral */
  color: #fafafa;
  color: #f5f5f5;
  color: #e5e5e5;
  color: #d4d4d4;
  color: #a3a3a3;
  color: #737373;
  color: #525252;
  color: #404040;
  color: #262626;
  color: #171717;
  color: #0a0a0a;
  /* Stone */
  color: #fafaf9;
  color: #f5f5f4;
  color: #e7e5e4;
  color: #d6d3d1;
  color: #a8a29e;
  color: #78716c;
  color: #57534e;
  color: #44403c;
  color: #292524;
  color: #1c1917;
  color: #0c0a09;
  /* Red */
  color: #fef2f2;
  color: #fee2e2;
  color: #fecaca;
  color: #fca5a5;
  color: #f87171;
  color: #ef4444;
  color: #dc2626;
  color: #b91c1c;
  color: #991b1b;
  color: #7f1d1d;
  color: #450a0a;
  /* Orange */
  color: #fff7ed;
  color: #ffedd5;
  color: #fed7aa;
  color: #fdba74;
  color: #fb923c;
  color: #f97316;
  color: #ea580c;
  color: #c2410c;
  color: #9a3412;
  color: #7c2d12;
  color: #431407;
  /* Amber */
  color: #fffbeb;
  color: #fef3c7;
  color: #fde68a;
  color: #fcd34d;
  color: #fbbf24;
  color: #f59e0b;
  color: #d97706;
  color: #b45309;
  color: #92400e;
  color: #78350f;
  color: #451a03;
  /* Yellow */
  color: #fefce8;
  color: #fef9c3;
  color: #fef08a;
  color: #fde047;
  color: #facc15;
  color: #eab308;
  color: #ca8a04;
  color: #a16207;
  color: #854d0e;
  color: #713f12;
  color: #422006;
  /* Lime */
  color: #f7fee7;
  color: #ecfccb;
  color: #d9f99d;
  color: #bef264;
  color: #a3e635;
  color: #84cc16;
  color: #65a30d;
  color: #4d7c0f;
  color: #3f6212;
  color: #365314;
  color: #1a2e05;
  /* Green */
  color: #f0fdf4;
  color: #dcfce7;
  color: #bbf7d0;
  color: #86efac;
  color: #4ade80;
  color: #22c55e;
  color: #16a34a;
  color: #15803d;
  color: #166534;
  color: #14532d;
  color: #052e16;
  /* Emerald */
  color: #ecfdf5;
  color: #d1fae5;
  color: #a7f3d0;
  color: #6ee7b7;
  color: #34d399;
  color: #10b981;
  color: #059669;
  color: #047857;
  color: #065f46;
  color: #064e3b;
  color: #022c22;
  /* Teal */
  color: #f0fdfa;
  color: #ccfbf1;
  color: #99f6e4;
  color: #5eead4;
  color: #2dd4bf;
  color: #14b8a6;
  color: #0d9488;
  color: #0f766e;
  color: #115e59;
  color: #134e4a;
  color: #042f2e;
  /* Cyan */
  color: #ecfeff;
  color: #cffafe;
  color: #a5f3fc;
  color: #67e8f9;
  color: #22d3ee;
  color: #06b6d4;
  color: #0891b2;
  color: #0e7490;
  color: #155e75;
  color: #164e63;
  color: #083344;
  /* Sky */
  color: #f0f9ff;
  color: #e0f2fe;
  color: #bae6fd;
  color: #7dd3fc;
  color: #38bdf8;
  color: #0ea5e9;
  color: #0284c7;
  color: #0369a1;
  color: #075985;
  color: #0c4a6e;
  color: #082f49;
  /* Blue */
  color: #eff6ff;
  color: #dbeafe;
  color: #bfdbfe;
  color: #93c5fd;
  color: #60a5fa;
  color: #3b82f6;
  color: #2563eb;
  color: #1d4ed8;
  color: #1e40af;
  color: #1e3a8a;
  color: #172554;
  /* Indigo */
  color: #eef2ff;
  color: #e0e7ff;
  color: #c7d2fe;
  color: #a5b4fc;
  color: #818cf8;
  color: #6366f1;
  color: #4f46e5;
  color: #4338ca;
  color: #3730a3;
  color: #312e81;
  color: #1e1b4b;
  /* Violet */
  color: #f5f3ff;
  color: #ede9fe;
  color: #ddd6fe;
  color: #c4b5fd;
  color: #a78bfa;
  color: #8b5cf6;
  color: #7c3aed;
  color: #6d28d9;
  color: #5b21b6;
  color: #4c1d95;
  color: #2e1065;
  /* Purple */
  color: #faf5ff;
  color: #f3e8ff;
  color: #e9d5ff;
  color: #d8b4fe;
  color: #c084fc;
  color: #a855f7;
  color: #9333ea;
  color: #7e22ce;
  color: #6b21a8;
  color: #581c87;
  color: #3b0764;
  /* Fuchsia */
  color: #fdf4ff;
  color: #fae8ff;
  color: #f5d0fe;
  color: #f0abfc;
  color: #e879f9;
  color: #d946ef;
  color: #c026d3;
  color: #a21caf;
  color: #86198f;
  color: #701a75;
  color: #4a044e;
  /* Pink */
  color: #fdf2f8;
  color: #fce7f3;
  color: #fbcfe8;
  color: #f9a8d4;
  color: #f472b6;
  color: #ec4899;
  color: #db2777;
  color: #be185d;
  color: #9d174d;
  color: #831843;
  color: #500724;
  /* Rose */
  color: #fff1f2;
  color: #ffe4e6;
  color: #fecdd3;
  color: #fda4af;
  color: #fb7185;
  color: #f43f5e;
  color: #e11d48;
  color: #be123c;
  color: #9f1239;
  color: #881337;
  color: #4c0519;
}
