.palette1{
  /* primary (cyan)*/
  background-color: #ecfeff;
  background-color: #cffafe;
  background-color: #a5f3fc;
  background-color: #67e8f9;
  background-color: #22d3ee;
  background-color: #06b6d4;
  background-color: #0891b2;
  background-color: #0e7490;
  background-color: #155e75;
  background-color: #164e63;
  background-color: #083344;
  
  /* neutrals (gray)*/
  background-color: #f9fafb;
  background-color: #f3f4f6;
  background-color: #e5e7eb;
  background-color: #d1d5db;
  background-color: #9ca3af;
  background-color: #6b7280;
  background-color: #4b5563;
  background-color: #374151;
  background-color: #1f2937;
  background-color: #111827;
  background-color: #030712;
  
  /* supporting (indigo)*/
  background-color: #eef2ff;
  background-color: #e0e7ff;
  background-color: #c7d2fe;
  background-color: #a5b4fc;
  background-color: #818cf8;
  background-color: #6366f1;
  background-color: #4f46e5;
  background-color: #4338ca;
  background-color: #3730a3;
  background-color: #312e81;
  background-color: #1e1b4b;
  /*            (pink)*/
  background-color: #fdf2f8;
  background-color: #fce7f3;
  background-color: #fbcfe8;
  background-color: #f9a8d4;
  background-color: #f472b6;
  background-color: #ec4899;
  background-color: #db2777;
  background-color: #be185d;
  background-color: #9d174d;
  background-color: #831843;
  background-color: #500724;
  /*            (red)*/
  background-color: #fef2f2;
  background-color: #fee2e2;
  background-color: #fecaca;
  background-color: #fca5a5;
  background-color: #f87171;
  background-color: #ef4444;
  background-color: #dc2626;
  background-color: #b91c1c;
  background-color: #991b1b;
  background-color: #7f1d1d;
  background-color: #450a0a;
  /*            (yellow)*/
  background-color: #fefce8;
  background-color: #fef9c3;
  background-color: #fef08a;
  background-color: #fde047;
  background-color: #facc15;
  background-color: #eab308;
  background-color: #ca8a04;
  background-color: #a16207;
  background-color: #854d0e;
  background-color: #713f12;
  background-color: #422006;
}
.tailwindcss{
  /* Slate */
  background-color: #f8fafc;
  background-color: #f1f5f9;
  background-color: #e2e8f0;
  background-color: #cbd5e1;
  background-color: #94a3b8;
  background-color: #64748b;
  background-color: #475569;
  background-color: #334155;
  background-color: #1e293b;
  background-color: #0f172a;
  background-color: #020617;
   /* Gray */
  background-color: #f9fafb;
  background-color: #f3f4f6;
  background-color: #e5e7eb;
  background-color: #d1d5db;
  background-color: #9ca3af;
  background-color: #6b7280;
  background-color: #4b5563;
  background-color: #374151;
  background-color: #1f2937;
  background-color: #111827;
  background-color: #030712;
   /* Zinc */
  background-color: #fafafa;
  background-color: #f4f4f5;
  background-color: #e4e4e7;
  background-color: #d4d4d8;
  background-color: #a1a1aa;
  background-color: #71717a;
  background-color: #52525b;
  background-color: #3f3f46;
  background-color: #27272a;
  background-color: #18181b;
  background-color: #09090b;
   /* Neutral */
  background-color: #fafafa;
  background-color: #f5f5f5;
  background-color: #e5e5e5;
  background-color: #d4d4d4;
  background-color: #a3a3a3;
  background-color: #737373;
  background-color: #525252;
  background-color: #404040;
  background-color: #262626;
  background-color: #171717;
  background-color: #0a0a0a;
   /* Stone */
  background-color: #fafaf9;
  background-color: #f5f5f4;
  background-color: #e7e5e4;
  background-color: #d6d3d1;
  background-color: #a8a29e;
  background-color: #78716c;
  background-color: #57534e;
  background-color: #44403c;
  background-color: #292524;
  background-color: #1c1917;
  background-color: #0c0a09;
   /* Red */
  background-color: #fef2f2;
  background-color: #fee2e2;
  background-color: #fecaca;
  background-color: #fca5a5;
  background-color: #f87171;
  background-color: #ef4444;
  background-color: #dc2626;
  background-color: #b91c1c;
  background-color: #991b1b;
  background-color: #7f1d1d;
  background-color: #450a0a;
   /* Orange */
  background-color: #fff7ed;
  background-color: #ffedd5;
  background-color: #fed7aa;
  background-color: #fdba74;
  background-color: #fb923c;
  background-color: #f97316;
  background-color: #ea580c;
  background-color: #c2410c;
  background-color: #9a3412;
  background-color: #7c2d12;
  background-color: #431407;
   /* Amber */
  background-color: #fffbeb;
  background-color: #fef3c7;
  background-color: #fde68a;
  background-color: #fcd34d;
  background-color: #fbbf24;
  background-color: #f59e0b;
  background-color: #d97706;
  background-color: #b45309;
  background-color: #92400e;
  background-color: #78350f;
  background-color: #451a03;
   /* Yellow */
  background-color: #fefce8;
  background-color: #fef9c3;
  background-color: #fef08a;
  background-color: #fde047;
  background-color: #facc15;
  background-color: #eab308;
  background-color: #ca8a04;
  background-color: #a16207;
  background-color: #854d0e;
  background-color: #713f12;
  background-color: #422006;
   /* Lime */
  background-color: #f7fee7;
  background-color: #ecfccb;
  background-color: #d9f99d;
  background-color: #bef264;
  background-color: #a3e635;
  background-color: #84cc16;
  background-color: #65a30d;
  background-color: #4d7c0f;
  background-color: #3f6212;
  background-color: #365314;
  background-color: #1a2e05;
   /* Green */
  background-color: #f0fdf4;
  background-color: #dcfce7;
  background-color: #bbf7d0;
  background-color: #86efac;
  background-color: #4ade80;
  background-color: #22c55e;
  background-color: #16a34a;
  background-color: #15803d;
  background-color: #166534;
  background-color: #14532d;
  background-color: #052e16;
   /* Emerald */
  background-color: #ecfdf5;
  background-color: #d1fae5;
  background-color: #a7f3d0;
  background-color: #6ee7b7;
  background-color: #34d399;
  background-color: #10b981;
  background-color: #059669;
  background-color: #047857;
  background-color: #065f46;
  background-color: #064e3b;
  background-color: #022c22;
   /* Teal */
  background-color: #f0fdfa;
  background-color: #ccfbf1;
  background-color: #99f6e4;
  background-color: #5eead4;
  background-color: #2dd4bf;
  background-color: #14b8a6;
  background-color: #0d9488;
  background-color: #0f766e;
  background-color: #115e59;
  background-color: #134e4a;
  background-color: #042f2e;
   /* Cyan */
  background-color: #ecfeff;
  background-color: #cffafe;
  background-color: #a5f3fc;
  background-color: #67e8f9;
  background-color: #22d3ee;
  background-color: #06b6d4;
  background-color: #0891b2;
  background-color: #0e7490;
  background-color: #155e75;
  background-color: #164e63;
  background-color: #083344;
   /* Sky */
  background-color: #f0f9ff;
  background-color: #e0f2fe;
  background-color: #bae6fd;
  background-color: #7dd3fc;
  background-color: #38bdf8;
  background-color: #0ea5e9;
  background-color: #0284c7;
  background-color: #0369a1;
  background-color: #075985;
  background-color: #0c4a6e;
  background-color: #082f49;
   /* Blue */
  background-color: #eff6ff;
  background-color: #dbeafe;
  background-color: #bfdbfe;
  background-color: #93c5fd;
  background-color: #60a5fa;
  background-color: #3b82f6;
  background-color: #2563eb;
  background-color: #1d4ed8;
  background-color: #1e40af;
  background-color: #1e3a8a;
  background-color: #172554;
   /* Indigo */
  background-color: #eef2ff;
  background-color: #e0e7ff;
  background-color: #c7d2fe;
  background-color: #a5b4fc;
  background-color: #818cf8;
  background-color: #6366f1;
  background-color: #4f46e5;
  background-color: #4338ca;
  background-color: #3730a3;
  background-color: #312e81;
  background-color: #1e1b4b;
   /* Violet */
  background-color: #f5f3ff;
  background-color: #ede9fe;
  background-color: #ddd6fe;
  background-color: #c4b5fd;
  background-color: #a78bfa;
  background-color: #8b5cf6;
  background-color: #7c3aed;
  background-color: #6d28d9;
  background-color: #5b21b6;
  background-color: #4c1d95;
  background-color: #2e1065;
   /* Purple */
  background-color: #faf5ff;
  background-color: #f3e8ff;
  background-color: #e9d5ff;
  background-color: #d8b4fe;
  background-color: #c084fc;
  background-color: #a855f7;
  background-color: #9333ea;
  background-color: #7e22ce;
  background-color: #6b21a8;
  background-color: #581c87;
  background-color: #3b0764;
   /* Fuchsia */
  background-color: #fdf4ff;
  background-color: #fae8ff;
  background-color: #f5d0fe;
  background-color: #f0abfc;
  background-color: #e879f9;
  background-color: #d946ef;
  background-color: #c026d3;
  background-color: #a21caf;
  background-color: #86198f;
  background-color: #701a75;
  background-color: #4a044e;
   /* Pink */
  background-color: #fdf2f8;
  background-color: #fce7f3;
  background-color: #fbcfe8;
  background-color: #f9a8d4;
  background-color: #f472b6;
  background-color: #ec4899;
  background-color: #db2777;
  background-color: #be185d;
  background-color: #9d174d;
  background-color: #831843;
  background-color: #500724;
   /* Rose */
  background-color: #fff1f2;
  background-color: #ffe4e6;
  background-color: #fecdd3;
  background-color: #fda4af;
  background-color: #fb7185;
  background-color: #f43f5e;
  background-color: #e11d48;
  background-color: #be123c;
  background-color: #9f1239;
  background-color: #881337;
  background-color: #4c0519;
}
export const palettes: Palettes = {

  palette2: {
    image: paletteImage2,
    numOfPalette: 2,
    primary: [
      'bg-blue-50',
      'bg-blue-100',
      'bg-blue-200',
      'bg-blue-300',
      'bg-blue-400',
      'bg-blue-500',
      'bg-blue-600',
      'bg-blue-700',
      'bg-blue-800',
      'bg-blue-900',
      'bg-blue-950',
      'break',
      'bg-[#FFFBEA]',
      'bg-[#FFF3C4]',
      'bg-[#FCE588]',
      'bg-[#FADB5F]',
      'bg-[#F7C948]',
      'bg-[#F0B429]',
      'bg-[#DE911D]',
      'bg-[#CB6E17]',
      'bg-[#B44D12]',
      'bg-[#8D2B0B]',
    ],
    neutrals: [
      'bg-[#F0F4F8]',
      'bg-[#D9E2EC]',
      'bg-[#BCCCDC]',
      'bg-[#9FB3C8]',
      'bg-[#829AB1]',
      'bg-[#627D98]',
      'bg-[#486581]',
      'bg-[#334E68]',
      'bg-[#243B53]',
      'bg-[#102A43]',
    ],
    supporting: [
      'bg-cyan-50',
      'bg-cyan-100',
      'bg-cyan-200',
      'bg-cyan-300',
      'bg-cyan-400',
      'bg-cyan-500',
      'bg-cyan-600',
      'bg-cyan-700',
      'bg-cyan-800',
      'bg-cyan-900',
      'bg-cyan-950',
      'break',
      'bg-red-50',
      'bg-red-100',
      'bg-red-200',
      'bg-red-300',
      'bg-red-400',
      'bg-red-500',
      'bg-red-600',
      'bg-red-700',
      'bg-red-800',
      'bg-red-900',
      'bg-red-950',
    ],
  },
  palette3: {
    image: paletteImage3,
    numOfPalette: 3,
    primary: [
      'bg-purple-50',
      'bg-purple-100',
      'bg-purple-200',
      'bg-purple-300',
      'bg-purple-400',
      'bg-purple-500',
      'bg-purple-600',
      'bg-purple-700',
      'bg-purple-800',
      'bg-purple-900',
      'bg-purple-950',
      'break',
      'bg-teal-50',
      'bg-teal-100',
      'bg-teal-200',
      'bg-teal-300',
      'bg-teal-400',
      'bg-teal-500',
      'bg-teal-600',
      'bg-teal-700',
      'bg-teal-800',
      'bg-teal-900',
      'bg-teal-950',
    ],

    neutrals: [
      'bg-[#F0F4F8]',
      'bg-[#D9E2EC]',
      'bg-[#BCCCDC]',
      'bg-[#9FB3C8]',
      'bg-[#829AB1]',
      'bg-[#627D98]',
      'bg-[#486581]',
      'bg-[#334E68]',
      'bg-[#243B53]',
      'bg-[#102A43]',
    ],

    supporting: [
      'bg-[#E3F8FF]',
      'bg-[#B3ECFF]',
      'bg-[#81DEFD]',
      'bg-[#5ED0FA]',
      'bg-[#40C3F7]',
      'bg-[#2BB0ED]',
      'bg-[#1992D4]',
      'bg-[#127FBF]',
      'bg-[#0B69A3]',
      'bg-[#035388]',
      'break',
      'bg-[#FFE3E3]',
      'bg-[#FFBDBD]',
      'bg-[#FF9B9B]',
      'bg-[#F86A6A]',
      'bg-[#EF4E4E]',
      'bg-[#E12D39]',
      'bg-[#CF1124]',
      'bg-[#AB091E]',
      'bg-[#8A041A]',
      'bg-[#610316]',
      'break',
      'bg-[#FFFBEA]',
      'bg-[#FFF3C4]',
      'bg-[#FCE588]',
      'bg-[#FADB5F]',
      'bg-[#F7C948]',
      'bg-[#F0B429]',
      'bg-[#DE911D]',
      'bg-[#CB6E17]',
      'bg-[#B44D12]',
      'bg-[#8D2B0B]',
    ],
  },
  palette4: {
    image: paletteImage4,
    numOfPalette: 4,
    primary: [
      'bg-teal-50',
      'bg-teal-100',
      'bg-teal-200',
      'bg-teal-300',
      'bg-teal-400',
      'bg-teal-500',
      'bg-teal-600',
      'bg-teal-700',
      'bg-teal-800',
      'bg-teal-900',
      'bg-teal-950',
    ],
    neutrals: [
      'bg-[#F0F4F8]',
      'bg-[#D9E2EC]',
      'bg-[#BCCCDC]',
      'bg-[#9FB3C8]',
      'bg-[#829AB1]',
      'bg-[#627D98]',
      'bg-[#486581]',
      'bg-[#334E68]',
      'bg-[#243B53]',
      'bg-[#102A43]',
    ],
    supporting: [
      'bg-blue-50',
      'bg-blue-100',
      'bg-blue-200',
      'bg-blue-300',
      'bg-blue-400',
      'bg-blue-500',
      'bg-blue-600',
      'bg-blue-700',
      'bg-blue-800',
      'bg-blue-900',
      'bg-blue-950',
      'break',
      'bg-purple-50',
      'bg-purple-100',
      'bg-purple-200',
      'bg-purple-300',
      'bg-purple-400',
      'bg-purple-500',
      'bg-purple-600',
      'bg-purple-700',
      'bg-purple-800',
      'bg-purple-900',
      'bg-purple-950',
      'break',
      'bg-red-50',
      'bg-red-100',
      'bg-red-200',
      'bg-red-300',
      'bg-red-400',
      'bg-red-500',
      'bg-red-600',
      'bg-red-700',
      'bg-red-800',
      'bg-red-900',
      'bg-red-950',
      'break',
      'bg-yellow-50',
      'bg-yellow-100',
      'bg-yellow-200',
      'bg-yellow-300',
      'bg-yellow-400',
      'bg-yellow-500',
      'bg-yellow-600',
      'bg-yellow-700',
      'bg-yellow-800',
      'bg-yellow-900',
      'bg-yellow-950',
    ],
  },
  palette5: {
    image: paletteImage5,
    numOfPalette: 5,
    primary: [
      'bg-[#F0F4F8]',
      'bg-[#D9E2EC]',
      'bg-[#BCCCDC]',
      'bg-[#9FB3C8]',
      'bg-[#829AB1]',
      'bg-[#627D98]',
      'bg-[#486581]',
      'bg-[#334E68]',
      'bg-[#243B53]',
      'bg-[#102A43]',
    ],
    neutrals: [
      'bg-[#F0F4F8]',
      'bg-[#D9E2EC]',
      'bg-[#BCCCDC]',
      'bg-[#9FB3C8]',
      'bg-[#829AB1]',
      'bg-[#627D98]',
      'bg-[#486581]',
      'bg-[#334E68]',
      'bg-[#243B53]',
      'bg-[#102A43]',
    ],
    supporting: [
      'bg-[#E3F8FF]',
      'bg-[#B3ECFF]',
      'bg-[#81DEFD]',
      'bg-[#5ED0FA]',
      'bg-[#40C3F7]',
      'bg-[#2BB0ED]',
      'bg-[#1992D4]',
      'bg-[#127FBF]',
      'bg-[#0B69A3]',
      'bg-[#035388]',
      'break',
      'bg-cyan-50',
      'bg-cyan-100',
      'bg-cyan-200',
      'bg-cyan-300',
      'bg-cyan-400',
      'bg-cyan-500',
      'bg-cyan-600',
      'bg-cyan-700',
      'bg-cyan-800',
      'bg-cyan-900',
      'bg-cyan-950',
      'break',
      'bg-[#FFE3EC]',
      'bg-[#FFB8D2]',
      'bg-[#FF8CBA]',
      'bg-[#F364A2]',
      'bg-[#E8368F]',
      'bg-[#DA127D]',
      'bg-[#BC0A6F]',
      'bg-[#A30664]',
      'bg-[#870557]',
      'bg-[#620042]',
      'break',
      'bg-[#FFE3E3]',
      'bg-[#FFBDBD]',
      'bg-[#FF9B9B]',
      'bg-[#F86A6A]',
      'bg-[#EF4E4E]',
      'bg-[#E12D39]',
      'bg-[#CF1124]',
      'bg-[#AB091E]',
      'bg-[#8A041A]',
      'bg-[#610316]',
      'break',
      'bg-[#FFFBEA]',
      'bg-[#FFF3C4]',
      'bg-[#FCE588]',
      'bg-[#FADB5F]',
      'bg-[#F7C948]',
      'bg-[#F0B429]',
      'bg-[#DE911D]',
      'bg-[#CB6E17]',
      'bg-[#B44D12]',
      'bg-[#8D2B0B]',
      'break',
      'bg-teal-50',
      'bg-teal-100',
      'bg-teal-200',
      'bg-teal-300',
      'bg-teal-400',
      'bg-teal-500',
      'bg-teal-600',
      'bg-teal-700',
      'bg-teal-800',
      'bg-teal-900',
      'bg-teal-950',
    ],
  },
  palette6: {
    image: paletteImage6,
    numOfPalette: 6,
    primary: [
      'bg-red-50',
      'bg-red-100',
      'bg-red-200',
      'bg-red-300',
      'bg-red-400',
      'bg-red-500',
      'bg-red-600',
      'bg-red-700',
      'bg-red-800',
      'bg-red-900',
      'bg-red-950',
      'break',
      'bg-[#FFFBEA]',
      'bg-[#FFF3C4]',
      'bg-[#FCE588]',
      'bg-[#FADB5F]',
      'bg-[#F7C948]',
      'bg-[#F0B429]',
      'bg-[#DE911D]',
      'bg-[#CB6E17]',
      'bg-[#B44D12]',
      'bg-[#8D2B0B]',
    ],
    neutrals: [
      'bg-[#FAF9F7]',
      'bg-[#E8E6E1]',
      'bg-[#D3CEC4]',
      'bg-[#B8B2A7]',
      'bg-[#A39E93]',
      'bg-[#857F72]',
      'bg-[#625D52]',
      'bg-[#504A40]',
      'bg-[#423D33]',
      'bg-[#27241D]',
    ],
    supporting: [
      'bg-cyan-50',
      'bg-cyan-100',
      'bg-cyan-200',
      'bg-cyan-300',
      'bg-cyan-400',
      'bg-cyan-500',
      'bg-cyan-600',
      'bg-cyan-700',
      'bg-cyan-800',
      'bg-cyan-900',
      'bg-cyan-950',
      'break',
      'bg-[#F2FDE0]',
      'bg-[#E2F7C2]',
      'bg-[#C7EA8F]',
      'bg-[#ABDB5E]',
      'bg-[#94C843]',
      'bg-[#7BB026]',
      'bg-[#63921A]',
      'bg-[#507712]',
      'bg-[#42600C]',
      'bg-[#2B4005]',
    ],
  },
  palette7: {
    image: paletteImage7,
    numOfPalette: 7,
    primary: [
      'bg-cyan-50',
      'bg-cyan-100',
      'bg-cyan-200',
      'bg-cyan-300',
      'bg-cyan-400',
      'bg-cyan-500',
      'bg-cyan-600',
      'bg-cyan-700',
      'bg-cyan-800',
      'bg-cyan-900',
      'bg-cyan-950',
    ],
    neutrals: [
      'bg-[#FAF9F7]',
      'bg-[#E8E6E1]',
      'bg-[#D3CEC4]',
      'bg-[#B8B2A7]',
      'bg-[#A39E93]',
      'bg-[#857F72]',
      'bg-[#625D52]',
      'bg-[#504A40]',
      'bg-[#423D33]',
      'bg-[#27241D]',
    ],
    supporting: [
      'bg-blue-50',
      'bg-blue-100',
      'bg-blue-200',
      'bg-blue-300',
      'bg-blue-400',
      'bg-blue-500',
      'bg-blue-600',
      'bg-blue-700',
      'bg-blue-800',
      'bg-blue-900',
      'bg-blue-950',
      'break',
      'bg-red-50',
      'bg-red-100',
      'bg-red-200',
      'bg-red-300',
      'bg-red-400',
      'bg-red-500',
      'bg-red-600',
      'bg-red-700',
      'bg-red-800',
      'bg-red-900',
      'bg-red-950',
      'break',
      'bg-yellow-50',
      'bg-yellow-100',
      'bg-yellow-200',
      'bg-yellow-300',
      'bg-yellow-400',
      'bg-yellow-500',
      'bg-yellow-600',
      'bg-yellow-700',
      'bg-yellow-800',
      'bg-yellow-900',
      'bg-yellow-950',
      'break',
      'bg-teal-50',
      'bg-teal-100',
      'bg-teal-200',
      'bg-teal-300',
      'bg-teal-400',
      'bg-teal-500',
      'bg-teal-600',
      'bg-teal-700',
      'bg-teal-800',
      'bg-teal-900',
      'bg-teal-950',
    ],
  },
  palette8: {
    image: paletteImage8,
    numOfPalette: 8,
    primary: [
      'bg-[#E6F6FF]',
      'bg-[#BAE3FF]',
      'bg-[#7CC4FA]',
      'bg-[#47A3F3]',
      'bg-[#2186EB]',
      'bg-[#0967D2]',
      'bg-[#0552B5]',
      'bg-[#03449E]',
      'bg-[#01337D]',
      'bg-[#002159]',
    ],
    neutrals: [
      'bg-[#F5F7FA]',
      'bg-[#E4E7EB]',
      'bg-[#CBD2D9]',
      'bg-[#9AA5B1]',
      'bg-[#7B8794]',
      'bg-[#616E7C]',
      'bg-[#52606D]',
      'bg-[#3E4C59]',
      'bg-[#323F4B]',
      'bg-[#1F2933]',
    ],
    supporting: [
      'bg-[#E1FCF8]',
      'bg-[#C1FEF6]',
      'bg-[#92FDF2]',
      'bg-[#62F4EB]',
      'bg-[#3AE7E1]',
      'bg-[#1CD4D4]',
      'bg-[#0FB5BA]',
      'bg-[#099AA4]',
      'bg-[#07818F]',
      'bg-[#05606E]',
      'break',
      'bg-[#FFE8D9]',
      'bg-[#FFD0B5]',
      'bg-[#FFB088]',
      'bg-[#FF9466]',
      'bg-[#F9703E]',
      'bg-[#F35627]',
      'bg-[#DE3A11]',
      'bg-[#C52707]',
      'bg-[#AD1D07]',
      'bg-[#841003]',
      'break',
      'bg-[#FFE3E3]',
      'bg-[#FFBDBD]',
      'bg-[#FF9B9B]',
      'bg-[#F86A6A]',
      'bg-[#EF4E4E]',
      'bg-[#E12D39]',
      'bg-[#CF1124]',
      'bg-[#AB091E]',
      'bg-[#8A041A]',
      'bg-[#610316]',
      'break',
      'bg-[#FFFBEA]',
      'bg-[#FFF3C4]',
      'bg-[#FCE588]',
      'bg-[#FADB5F]',
      'bg-[#F7C948]',
      'bg-[#F0B429]',
      'bg-[#DE911D]',
      'bg-[#CB6E17]',
      'bg-[#B44D12]',
      'bg-[#8D2B0B]',
    ],
  },
  palette9: {
    image: paletteImage9,
    numOfPalette: 9,
    primary: [
      'bg-[#E3F8FF]',
      'bg-[#B3ECFF]',
      'bg-[#81DEFD]',
      'bg-[#5ED0FA]',
      'bg-[#40C3F7]',
      'bg-[#2BB0ED]',
      'bg-[#1992D4]',
      'bg-[#127FBF]',
      'bg-[#0B69A3]',
      'bg-[#035388]',
    ],
    neutrals: [
      'bg-[#F5F7FA]',
      'bg-[#E4E7EB]',
      'bg-[#CBD2D9]',
      'bg-[#9AA5B1]',
      'bg-[#7B8794]',
      'bg-[#616E7C]',
      'bg-[#52606D]',
      'bg-[#3E4C59]',
      'bg-[#323F4B]',
      'bg-[#1F2933]',
    ],
    supporting: [
      'bg-[#FFE3EC]',
      'bg-[#FFB8D2]',
      'bg-[#FF8CBA]',
      'bg-[#F364A2]',
      'bg-[#E8368F]',
      'bg-[#DA127D]',
      'bg-[#BC0A6F]',
      'bg-[#A30664]',
      'bg-[#870557]',
      'bg-[#620042]',
      'break',
      'bg-[#FFE3E3]',
      'bg-[#FFBDBD]',
      'bg-[#FF9B9B]',
      'bg-[#F86A6A]',
      'bg-[#EF4E4E]',
      'bg-[#E12D39]',
      'bg-[#CF1124]',
      'bg-[#AB091E]',
      'bg-[#8A041A]',
      'bg-[#610316]',
      'break',
      'bg-[#FFFBEA]',
      'bg-[#FFF3C4]',
      'bg-[#FCE588]',
      'bg-[#FADB5F]',
      'bg-[#F7C948]',
      'bg-[#F0B429]',
      'bg-[#DE911D]',
      'bg-[#CB6E17]',
      'bg-[#B44D12]',
      'bg-[#8D2B0B]',
      'break',
      'bg-[#EFFCF6]',
      'bg-[#C6F7E2]',
      'bg-[#8EEDC7]',
      'bg-[#65D6AD]',
      'bg-[#3EBD93]',
      'bg-[#27AB83]',
      'bg-[#199473]',
      'bg-[#147D64]',
      'bg-[#0C6B58]',
      'bg-[#014D40]',
    ],
  },
  palette10: {
    image: paletteImage10,
    numOfPalette: 10,
    primary: [
      'bg-indigo-50',
      'bg-indigo-100',
      'bg-indigo-200',
      'bg-indigo-300',
      'bg-indigo-400',
      'bg-indigo-500',
      'bg-indigo-600',
      'bg-indigo-700',
      'bg-indigo-800',
      'bg-indigo-900',
      'bg-indigo-950',
    ],
    neutrals: [
      'bg-[#F5F7FA]',
      'bg-[#E4E7EB]',
      'bg-[#CBD2D9]',
      'bg-[#9AA5B1]',
      'bg-[#7B8794]',
      'bg-[#616E7C]',
      'bg-[#52606D]',
      'bg-[#3E4C59]',
      'bg-[#323F4B]',
      'bg-[#1F2933]',
    ],
    supporting: [
      'bg-[#E3F8FF]',
      'bg-[#B3ECFF]',
      'bg-[#81DEFD]',
      'bg-[#5ED0FA]',
      'bg-[#40C3F7]',
      'bg-[#2BB0ED]',
      'bg-[#1992D4]',
      'bg-[#127FBF]',
      'bg-[#0B69A3]',
      'bg-[#035388]',
      'break',
      'bg-[#FFE3E3]',
      'bg-[#FFBDBD]',
      'bg-[#FF9B9B]',
      'bg-[#F86A6A]',
      'bg-[#EF4E4E]',
      'bg-[#E12D39]',
      'bg-[#CF1124]',
      'bg-[#AB091E]',
      'bg-[#8A041A]',
      'bg-[#610316]',
      'break',
      'bg-[#FFFBEA]',
      'bg-[#FFF3C4]',
      'bg-[#FCE588]',
      'bg-[#FADB5F]',
      'bg-[#F7C948]',
      'bg-[#F0B429]',
      'bg-[#DE911D]',
      'bg-[#CB6E17]',
      'bg-[#B44D12]',
      'bg-[#8D2B0B]',
      'break',
      'bg-[#EFFCF6]',
      'bg-[#C6F7E2]',
      'bg-[#8EEDC7]',
      'bg-[#65D6AD]',
      'bg-[#3EBD93]',
      'bg-[#27AB83]',
      'bg-[#199473]',
      'bg-[#147D64]',
      'bg-[#0C6B58]',
      'bg-[#014D40]',
    ],
  },
  palette11: {
    image: paletteImage11,
    numOfPalette: 11,
    primary: [
      'bg-[#FFE3EC]',
      'bg-[#FFB8D2]',
      'bg-[#FF8CBA]',
      'bg-[#F364A2]',
      'bg-[#E8368F]',
      'bg-[#DA127D]',
      'bg-[#BC0A6F]',
      'bg-[#A30664]',
      'bg-[#870557]',
      'bg-[#620042]',
    ],
    neutrals: [
      'bg-[#F5F7FA]',
      'bg-[#E4E7EB]',
      'bg-[#CBD2D9]',
      'bg-[#9AA5B1]',
      'bg-[#7B8794]',
      'bg-[#616E7C]',
      'bg-[#52606D]',
      'bg-[#3E4C59]',
      'bg-[#323F4B]',
      'bg-[#1F2933]',
    ],
    supporting: [
      'bg-[#F2EBFE]',
      'bg-[#DAC4FF]',
      'bg-[#B990FF]',
      'bg-[#A368FC]',
      'bg-[#9446ED]',
      'bg-[#8719E0]',
      'bg-[#7A0ECC]',
      'bg-[#690CB0]',
      'bg-[#580A94]',
      'bg-[#44056E]',
      'break',
      'bg-[#E1FCF8]',
      'bg-[#C1FEF6]',
      'bg-[#92FDF2]',
      'bg-[#62F4EB]',
      'bg-[#3AE7E1]',
      'bg-[#1CD4D4]',
      'bg-[#0FB5BA]',
      'bg-[#099AA4]',
      'bg-[#07818F]',
      'bg-[#05606E]',
      'break',
      'bg-[#FFE3E3]',
      'bg-[#FFBDBD]',
      'bg-[#FF9B9B]',
      'bg-[#F86A6A]',
      'bg-[#EF4E4E]',
      'bg-[#E12D39]',
      'bg-[#CF1124]',
      'bg-[#AB091E]',
      'bg-[#8A041A]',
      'bg-[#610316]',
      'break',
      'bg-[#FFFBEA]',
      'bg-[#FFF3C4]',
      'bg-[#FCE588]',
      'bg-[#FADB5F]',
      'bg-[#F7C948]',
      'bg-[#F0B429]',
      'bg-[#DE911D]',
      'bg-[#CB6E17]',
      'bg-[#B44D12]',
      'bg-[#8D2B0B]',
    ],
  },
  palette12: {
    image: paletteImage12,
    numOfPalette: 12,
    primary: [
      'bg-green-50',
      'bg-green-100',
      'bg-green-200',
      'bg-green-300',
      'bg-green-400',
      'bg-green-500',
      'bg-green-600',
      'bg-green-700',
      'bg-green-800',
      'bg-green-900',
      'bg-green-950',
    ],
    neutrals: [
      'bg-gray-50',
      'bg-gray-100',
      'bg-gray-200',
      'bg-gray-300',
      'bg-gray-400',
      'bg-gray-500',
      'bg-gray-600',
      'bg-gray-700',
      'bg-gray-800',
      'bg-gray-900',
      'bg-gray-950',
    ],
    supporting: [
      'bg-purple-50',
      'bg-purple-100',
      'bg-purple-200',
      'bg-purple-300',
      'bg-purple-400',
      'bg-purple-500',
      'bg-purple-600',
      'bg-purple-700',
      'bg-purple-800',
      'bg-purple-900',
      'bg-purple-950',
      'break',
      'bg-red-50',
      'bg-red-100',
      'bg-red-200',
      'bg-red-300',
      'bg-red-400',
      'bg-red-500',
      'bg-red-600',
      'bg-red-700',
      'bg-red-800',
      'bg-red-900',
      'bg-red-950',
      'break',
      'bg-yellow-50',
      'bg-yellow-100',
      'bg-yellow-200',
      'bg-yellow-300',
      'bg-yellow-400',
      'bg-yellow-500',
      'bg-yellow-600',
      'bg-yellow-700',
      'bg-yellow-800',
      'bg-yellow-900',
      'bg-yellow-950',
    ],
  },
  palette13: {
    image: paletteImage13,
    numOfPalette: 13,
    primary: [
      'bg-[#FFFBEA]',
      'bg-[#FFF3C4]',
      'bg-[#FCE588]',
      'bg-[#FADB5F]',
      'bg-[#F7C948]',
      'bg-[#F0B429]',
      'bg-[#DE911D]',
      'bg-[#CB6E17]',
      'bg-[#B44D12]',
      'bg-[#8D2B0B]',
      'break',
      'bg-[#E3F8FF]',
      'bg-[#B3ECFF]',
      'bg-[#81DEFD]',
      'bg-[#5ED0FA]',
      'bg-[#40C3F7]',
      'bg-[#2BB0ED]',
      'bg-[#1992D4]',
      'bg-[#127FBF]',
      'bg-[#0B69A3]',
      'bg-[#035388]',
    ],
    neutrals: [
      'bg-gray-50',
      'bg-gray-100',
      'bg-gray-200',
      'bg-gray-300',
      'bg-gray-400',
      'bg-gray-500',
      'bg-gray-600',
      'bg-gray-700',
      'bg-gray-800',
      'bg-gray-900',
      'bg-gray-950',
    ],
    supporting: [
      'bg-[#FFE3E3]',
      'bg-[#FFBDBD]',
      'bg-[#FF9B9B]',
      'bg-[#F86A6A]',
      'bg-[#EF4E4E]',
      'bg-[#E12D39]',
      'bg-[#CF1124]',
      'bg-[#AB091E]',
      'bg-[#8A041A]',
      'bg-[#610316]',
      'break',
      'bg-teal-50',
      'bg-teal-100',
      'bg-teal-200',
      'bg-teal-300',
      'bg-teal-400',
      'bg-teal-500',
      'bg-teal-600',
      'bg-teal-700',
      'bg-teal-800',
      'bg-teal-900',
      'bg-teal-950',
    ],
  },
  palette14: {
    image: paletteImage14,
    numOfPalette: 14,
    primary: [
      'bg-orange-50',
      'bg-orange-100',
      'bg-orange-200',
      'bg-orange-300',
      'bg-orange-400',
      'bg-orange-500',
      'bg-orange-600',
      'bg-orange-700',
      'bg-orange-800',
      'bg-orange-900',
      'bg-orange-950',
      'break',
      'bg-[#F2FDE0]',
      'bg-[#E2F7C2]',
      'bg-[#C7EA8F]',
      'bg-[#ABDB5E]',
      'bg-[#94C843]',
      'bg-[#7BB026]',
      'bg-[#63921A]',
      'bg-[#507712]',
      'bg-[#42600C]',
      'bg-[#2B4005]',
    ],
    neutrals: [
      'bg-gray-50',
      'bg-gray-100',
      'bg-gray-200',
      'bg-gray-300',
      'bg-gray-400',
      'bg-gray-500',
      'bg-gray-600',
      'bg-gray-700',
      'bg-gray-800',
      'bg-gray-900',
      'bg-gray-950',
    ],
    supporting: [
      'bg-[#EBF8FF]',
      'bg-[#D1EEFC]',
      'bg-[#A7D8F0]',
      'bg-[#7CC1E4]',
      'bg-[#55AAD4]',
      'bg-[#3994C1]',
      'bg-[#2D83AE]',
      'bg-[#1D6F98]',
      'bg-[#166086]',
      'bg-[#0B4F71]',
      'break',
      'bg-red-50',
      'bg-red-100',
      'bg-red-200',
      'bg-red-300',
      'bg-red-400',
      'bg-red-500',
      'bg-red-600',
      'bg-red-700',
      'bg-red-800',
      'bg-red-900',
      'bg-red-950',
      'break',
      'bg-yellow-50',
      'bg-yellow-100',
      'bg-yellow-200',
      'bg-yellow-300',
      'bg-yellow-400',
      'bg-yellow-500',
      'bg-yellow-600',
      'bg-yellow-700',
      'bg-yellow-800',
      'bg-yellow-900',
      'bg-yellow-950',
    ],
  },
  palette15: {
    image: paletteImage15,
    numOfPalette: 15,
    primary: [
      'bg-blue-50',
      'bg-blue-100',
      'bg-blue-200',
      'bg-blue-300',
      'bg-blue-400',
      'bg-blue-500',
      'bg-blue-600',
      'bg-blue-700',
      'bg-blue-800',
      'bg-blue-900',
      'bg-blue-950',
    ],
    neutrals: [
      'bg-[#F0F4F8]',
      'bg-[#D9E2EC]',
      'bg-[#BCCCDC]',
      'bg-[#9FB3C8]',
      'bg-[#829AB1]',
      'bg-[#627D98]',
      'bg-[#486581]',
      'bg-[#334E68]',
      'bg-[#243B53]',
      'bg-[#102A43]',
    ],
    supporting: [
      'bg-[#F0FCF9]',
      'bg-[#C6F7E9]',
      'bg-[#8EEDD1]',
      'bg-[#5FE3C0]',
      'bg-[#2DCCA7]',
      'bg-[#17B897]',
      'bg-[#079A82]',
      'bg-[#048271]',
      'bg-[#016457]',
      'bg-[#004440]',
      'break',
      'bg-red-50',
      'bg-red-100',
      'bg-red-200',
      'bg-red-300',
      'bg-red-400',
      'bg-red-500',
      'bg-red-600',
      'bg-red-700',
      'bg-red-800',
      'bg-red-900',
      'bg-red-950',
      'break',
      'bg-yellow-50',
      'bg-yellow-100',
      'bg-yellow-200',
      'bg-yellow-300',
      'bg-yellow-400',
      'bg-yellow-500',
      'bg-yellow-600',
      'bg-yellow-700',
      'bg-yellow-800',
      'bg-yellow-900',
      'bg-yellow-950',
    ],
  },
  palette16: {
    image: paletteImage16,
    numOfPalette: 16,
    primary: [
      'bg-purple-50',
      'bg-purple-100',
      'bg-purple-200',
      'bg-purple-300',
      'bg-purple-400',
      'bg-purple-500',
      'bg-purple-600',
      'bg-purple-700',
      'bg-purple-800',
      'bg-purple-900',
      'bg-purple-950',
      'break',
      'bg-[#FFE3E3]',
      'bg-[#FFBDBD]',
      'bg-[#FF9B9B]',
      'bg-[#F86A6A]',
      'bg-[#EF4E4E]',
      'bg-[#E12D39]',
      'bg-[#CF1124]',
      'bg-[#AB091E]',
      'bg-[#8A041A]',
      'bg-[#610316]',
    ],
    neutrals: [
      'bg-[#F0F4F8]',
      'bg-[#D9E2EC]',
      'bg-[#BCCCDC]',
      'bg-[#9FB3C8]',
      'bg-[#829AB1]',
      'bg-[#627D98]',
      'bg-[#486581]',
      'bg-[#334E68]',
      'bg-[#243B53]',
      'bg-[#102A43]',
    ],
    supporting: [
      'bg-[#F0FCF9]',
      'bg-[#C6F7E9]',
      'bg-[#8EEDD1]',
      'bg-[#5FE3C0]',
      'bg-[#2DCCA7]',
      'bg-[#17B897]',
      'bg-[#079A82]',
      'bg-[#048271]',
      'bg-[#016457]',
      'bg-[#004440]',
      'break',
      'bg-[#FFFBEA]',
      'bg-[#FFF3C4]',
      'bg-[#FCE588]',
      'bg-[#FADB5F]',
      'bg-[#F7C948]',
      'bg-[#F0B429]',
      'bg-[#DE911D]',
      'bg-[#CB6E17]',
      'bg-[#B44D12]',
      'bg-[#8D2B0B]',
    ],
  },
  palette17: {
    image: paletteImage17,
    numOfPalette: 17,
    primary: [
      'bg-[#F5E1F7]',
      'bg-[#ECBDF2]',
      'bg-[#CE80D9]',
      'bg-[#BB61C7]',
      'bg-[#AD4BB8]',
      'bg-[#A23DAD]',
      'bg-[#90279C]',
      'bg-[#7C1A87]',
      'bg-[#671270]',
      'bg-[#4E0754]',
      'break',
      'bg-[#FFE8D9]',
      'bg-[#FFD0B5]',
      'bg-[#FFB088]',
      'bg-[#FF9466]',
      'bg-[#F9703E]',
      'bg-[#F35627]',
      'bg-[#DE3A11]',
      'bg-[#C52707]',
      'bg-[#AD1D07]',
      'bg-[#841003]',
    ],
    neutrals: [
      'bg-[#F0F4F8]',
      'bg-[#D9E2EC]',
      'bg-[#BCCCDC]',
      'bg-[#9FB3C8]',
      'bg-[#829AB1]',
      'bg-[#627D98]',
      'bg-[#486581]',
      'bg-[#334E68]',
      'bg-[#243B53]',
      'bg-[#102A43]',
    ],
    supporting: [
      'bg-[#FFFBEA]',
      'bg-[#FFF3C4]',
      'bg-[#FCE588]',
      'bg-[#FADB5F]',
      'bg-[#F7C948]',
      'bg-[#F0B429]',
      'bg-[#DE911D]',
      'bg-[#CB6E17]',
      'bg-[#B44D12]',
      'bg-[#8D2B0B]',
      'break',
      'bg-[#FFE3E3]',
      'bg-[#FFBDBD]',
      'bg-[#FF9B9B]',
      'bg-[#F86A6A]',
      'bg-[#EF4E4E]',
      'bg-[#E12D39]',
      'bg-[#CF1124]',
      'bg-[#AB091E]',
      'bg-[#8A041A]',
      'bg-[#610316]',
      'break',
      'bg-[#E3F9E5]',
      'bg-[#C1F2C7]',
      'bg-[#91E697]',
      'bg-[#51CA58]',
      'bg-[#31B237]',
      'bg-[#18981D]',
      'bg-[#0F8613]',
      'bg-[#0E7817]',
      'bg-[#07600E]',
      'bg-[#014807]',
    ],
  },
  palette18: {
    image: paletteImage18,
    numOfPalette: 18,
    primary: [
      'bg-purple-50',
      'bg-purple-100',
      'bg-purple-200',
      'bg-purple-300',
      'bg-purple-400',
      'bg-purple-500',
      'bg-purple-600',
      'bg-purple-700',
      'bg-purple-800',
      'bg-purple-900',
      'bg-purple-950',
    ],
    neutrals: [
      'bg-[#FAF9F7]',
      'bg-[#E8E6E1]',
      'bg-[#D3CEC4]',
      'bg-[#B8B2A7]',
      'bg-[#A39E93]',
      'bg-[#857F72]',
      'bg-[#625D52]',
      'bg-[#504A40]',
      'bg-[#423D33]',
      'bg-[#27241D]',
    ],
    supporting: [
      'bg-cyan-50',
      'bg-cyan-100',
      'bg-cyan-200',
      'bg-cyan-300',
      'bg-cyan-400',
      'bg-cyan-500',
      'bg-cyan-600',
      'bg-cyan-700',
      'bg-cyan-800',
      'bg-cyan-900',
      'bg-cyan-950',
      'break',
      'bg-[#FFE3E3]',
      'bg-[#FFBDBD]',
      'bg-[#FF9B9B]',
      'bg-[#F86A6A]',
      'bg-[#EF4E4E]',
      'bg-[#E12D39]',
      'bg-[#CF1124]',
      'bg-[#AB091E]',
      'bg-[#8A041A]',
      'bg-[#610316]',
      'break',
      'bg-yellow-50',
      'bg-yellow-100',
      'bg-yellow-200',
      'bg-yellow-300',
      'bg-yellow-400',
      'bg-yellow-500',
      'bg-yellow-600',
      'bg-yellow-700',
      'bg-yellow-800',
      'bg-yellow-900',
      'bg-yellow-950',
      'break',
      'bg-[#E3F9E5]',
      'bg-[#C1F2C7]',
      'bg-[#91E697]',
      'bg-[#51CA58]',
      'bg-[#31B237]',
      'bg-[#18981D]',
      'bg-[#0F8613]',
      'bg-[#0E7817]',
      'bg-[#07600E]',
      'bg-[#014807]',
    ],
  },
  palette19: {
    image: paletteImage19,
    numOfPalette: 19,
    primary: [
      'bg-indigo-50',
      'bg-indigo-100',
      'bg-indigo-200',
      'bg-indigo-300',
      'bg-indigo-400',
      'bg-indigo-500',
      'bg-indigo-600',
      'bg-indigo-700',
      'bg-indigo-800',
      'bg-indigo-900',
      'bg-indigo-950',
      'break',
      'bg-[#FFE8D9]',
      'bg-[#FFD0B5]',
      'bg-[#FFB088]',
      'bg-[#FF9466]',
      'bg-[#F9703E]',
      'bg-[#F35627]',
      'bg-[#DE3A11]',
      'bg-[#C52707]',
      'bg-[#AD1D07]',
      'bg-[#841003]',
    ],
    neutrals: [
      'bg-[#F5F7FA]',
      'bg-[#E4E7EB]',
      'bg-[#CBD2D9]',
      'bg-[#9AA5B1]',
      'bg-[#7B8794]',
      'bg-[#616E7C]',
      'bg-[#52606D]',
      'bg-[#3E4C59]',
      'bg-[#323F4B]',
      'bg-[#1F2933]',
    ],
    supporting: [
      'bg-[#FDEBFF]',
      'bg-[#F8C4FE]',
      'bg-[#F48FFF]',
      'bg-[#F368FC]',
      'bg-[#ED47ED]',
      'bg-[#E019D0]',
      'bg-[#CB10B8]',
      'bg-[#B30BA3]',
      'bg-[#960888]',
      'bg-[#6E0560]',
      'break',
      'bg-[#FFE3E3]',
      'bg-[#FFBDBD]',
      'bg-[#FF9B9B]',
      'bg-[#F86A6A]',
      'bg-[#EF4E4E]',
      'bg-[#E12D39]',
      'bg-[#CF1124]',
      'bg-[#AB091E]',
      'bg-[#8A041A]',
      'bg-[#610316]',
      'break',
      'bg-[#FFFBEA]',
      'bg-[#FFF3C4]',
      'bg-[#FCE588]',
      'bg-[#FADB5F]',
      'bg-[#F7C948]',
      'bg-[#F0B429]',
      'bg-[#DE911D]',
      'bg-[#CB6E17]',
      'bg-[#B44D12]',
      'bg-[#8D2B0B]',
      'break',
      'bg-[#E3F9E5]',
      'bg-[#C1F2C7]',
      'bg-[#91E697]',
      'bg-[#51CA58]',
      'bg-[#31B237]',
      'bg-[#18981D]',
      'bg-[#0F8613]',
      'bg-[#0E7817]',
      'bg-[#07600E]',
      'bg-[#014807]',
    ],
  },
  palette20: {
    image: paletteImage20,
    numOfPalette: 20,
    primary: [
      'bg-[#EBF8FF]',
      'bg-[#D1EEFC]',
      'bg-[#A7D8F0]',
      'bg-[#7CC1E4]',
      'bg-[#55AAD4]',
      'bg-[#3994C1]',
      'bg-[#2D83AE]',
      'bg-[#1D6F98]',
      'bg-[#166086]',
      'bg-[#0B4F71]',
      'break',
      'bg-green-50',
      'bg-green-100',
      'bg-green-200',
      'bg-green-300',
      'bg-green-400',
      'bg-green-500',
      'bg-green-600',
      'bg-green-700',
      'bg-green-800',
      'bg-green-900',
      'bg-green-950',
    ],
    neutrals: [
      'bg-[#F5F7FA]',
      'bg-[#E4E7EB]',
      'bg-[#CBD2D9]',
      'bg-[#9AA5B1]',
      'bg-[#7B8794]',
      'bg-[#616E7C]',
      'bg-[#52606D]',
      'bg-[#3E4C59]',
      'bg-[#323F4B]',
      'bg-[#1F2933]',
    ],
    supporting: [
      'bg-purple-50',
      'bg-purple-100',
      'bg-purple-200',
      'bg-purple-300',
      'bg-purple-400',
      'bg-purple-500',
      'bg-purple-600',
      'bg-purple-700',
      'bg-purple-800',
      'bg-purple-900',
      'bg-purple-950',
      'break',
      'bg-red-50',
      'bg-red-100',
      'bg-red-200',
      'bg-red-300',
      'bg-red-400',
      'bg-red-500',
      'bg-red-600',
      'bg-red-700',
      'bg-red-800',
      'bg-red-900',
      'bg-red-950',
      'break',
      'bg-yellow-50',
      'bg-yellow-100',
      'bg-yellow-200',
      'bg-yellow-300',
      'bg-yellow-400',
      'bg-yellow-500',
      'bg-yellow-600',
      'bg-yellow-700',
      'bg-yellow-800',
      'bg-yellow-900',
      'bg-yellow-950',
    ],
  },
  palette21: {
    image: paletteImage21,
    numOfPalette: 21,
    primary: [
      'bg-[#FFE8D9]',
      'bg-[#FFD0B5]',
      'bg-[#FFB088]',
      'bg-[#FF9466]',
      'bg-[#F9703E]',
      'bg-[#F35627]',
      'bg-[#DE3A11]',
      'bg-[#C52707]',
      'bg-[#AD1D07]',
      'bg-[#841003]',
    ],
    neutrals: [
      'bg-[#F5F7FA]',
      'bg-[#E4E7EB]',
      'bg-[#CBD2D9]',
      'bg-[#9AA5B1]',
      'bg-[#7B8794]',
      'bg-[#616E7C]',
      'bg-[#52606D]',
      'bg-[#3E4C59]',
      'bg-[#323F4B]',
      'bg-[#1F2933]',
    ],
    supporting: [
      'bg-indigo-50',
      'bg-indigo-100',
      'bg-indigo-200',
      'bg-indigo-300',
      'bg-indigo-400',
      'bg-indigo-500',
      'bg-indigo-600',
      'bg-indigo-700',
      'bg-indigo-800',
      'bg-indigo-900',
      'bg-indigo-950',
      'break',
      'bg-red-50',
      'bg-red-100',
      'bg-red-200',
      'bg-red-300',
      'bg-red-400',
      'bg-red-500',
      'bg-red-600',
      'bg-red-700',
      'bg-red-800',
      'bg-red-900',
      'bg-red-950',
      'break',
      'bg-yellow-50',
      'bg-yellow-100',
      'bg-yellow-200',
      'bg-yellow-300',
      'bg-yellow-400',
      'bg-yellow-500',
      'bg-yellow-600',
      'bg-yellow-700',
      'bg-yellow-800',
      'bg-yellow-900',
      'bg-yellow-950',
      'break',
      'bg-green-50',
      'bg-green-100',
      'bg-green-200',
      'bg-green-300',
      'bg-green-400',
      'bg-green-500',
      'bg-green-600',
      'bg-green-700',
      'bg-green-800',
      'bg-green-900',
      'bg-green-950',
    ],
  },
  palette22: {
    image: paletteImage22,
    numOfPalette: 22,
    primary: [
      'bg-indigo-50',
      'bg-indigo-100',
      'bg-indigo-200',
      'bg-indigo-300',
      'bg-indigo-400',
      'bg-indigo-500',
      'bg-indigo-600',
      'bg-indigo-700',
      'bg-indigo-800',
      'bg-indigo-900',
      'bg-indigo-950',
      'break',
      'bg-[#E1FCF8]',
      'bg-[#C1FEF6]',
      'bg-[#92FDF2]',
      'bg-[#62F4EB]',
      'bg-[#3AE7E1]',
      'bg-[#1CD4D4]',
      'bg-[#0FB5BA]',
      'bg-[#099AA4]',
      'bg-[#07818F]',
      'bg-[#05606E]',
    ],
    neutrals: [
      'bg-[#F5F7FA]',
      'bg-[#E4E7EB]',
      'bg-[#CBD2D9]',
      'bg-[#9AA5B1]',
      'bg-[#7B8794]',
      'bg-[#616E7C]',
      'bg-[#52606D]',
      'bg-[#3E4C59]',
      'bg-[#323F4B]',
      'bg-[#1F2933]',
    ],
    supporting: [
      'bg-[#FFE3EC]',
      'bg-[#FFB8D2]',
      'bg-[#FF8CBA]',
      'bg-[#F364A2]',
      'bg-[#E8368F]',
      'bg-[#DA127D]',
      'bg-[#BC0A6F]',
      'bg-[#A30664]',
      'bg-[#870557]',
      'bg-[#620042]',
      'break',
      'bg-[#FFE3E3]',
      'bg-[#FFBDBD]',
      'bg-[#FF9B9B]',
      'bg-[#F86A6A]',
      'bg-[#EF4E4E]',
      'bg-[#E12D39]',
      'bg-[#CF1124]',
      'bg-[#AB091E]',
      'bg-[#8A041A]',
      'bg-[#610316]',
      'break',
      'bg-[#FFFBEA]',
      'bg-[#FFF3C4]',
      'bg-[#FCE588]',
      'bg-[#FADB5F]',
      'bg-[#F7C948]',
      'bg-[#F0B429]',
      'bg-[#DE911D]',
      'bg-[#CB6E17]',
      'bg-[#B44D12]',
      'bg-[#8D2B0B]',
      'break',
      'bg-[#E3F9E5]',
      'bg-[#C1F2C7]',
      'bg-[#91E697]',
      'bg-[#51CA58]',
      'bg-[#31B237]',
      'bg-[#18981D]',
      'bg-[#0F8613]',
      'bg-[#0E7817]',
      'bg-[#07600E]',
      'bg-[#014807]',
    ],
  },
  palette23: {
    image: paletteImage23,
    numOfPalette: 23,
    primary: [
      'bg-[#F0FCF9]',
      'bg-[#C6F7E9]',
      'bg-[#8EEDD1]',
      'bg-[#5FE3C0]',
      'bg-[#2DCCA7]',
      'bg-[#17B897]',
      'bg-[#079A82]',
      'bg-[#048271]',
      'bg-[#016457]',
      'bg-[#004440]',
    ],
    neutrals: [
      'bg-gray-50',
      'bg-gray-100',
      'bg-gray-200',
      'bg-gray-300',
      'bg-gray-400',
      'bg-gray-500',
      'bg-gray-600',
      'bg-gray-700',
      'bg-gray-800',
      'bg-gray-900',
      'bg-gray-950',
    ],
    supporting: [
      'bg-[#FFFBEA]',
      'bg-[#FFF3C4]',
      'bg-[#FCE588]',
      'bg-[#FADB5F]',
      'bg-[#F7C948]',
      'bg-[#F0B429]',
      'bg-[#DE911D]',
      'bg-[#CB6E17]',
      'bg-[#B44D12]',
      'bg-[#8D2B0B]',
      'break',
      'bg-[#FFE3E3]',
      'bg-[#FFBDBD]',
      'bg-[#FF9B9B]',
      'bg-[#F86A6A]',
      'bg-[#EF4E4E]',
      'bg-[#E12D39]',
      'bg-[#CF1124]',
      'bg-[#AB091E]',
      'bg-[#8A041A]',
      'bg-[#610316]',
    ],
  },
  palette24: {
    image: paletteImage24,
    numOfPalette: 24,
    primary: [
      'bg-yellow-50',
      'bg-yellow-100',
      'bg-yellow-200',
      'bg-yellow-300',
      'bg-yellow-400',
      'bg-yellow-500',
      'bg-yellow-600',
      'bg-yellow-700',
      'bg-yellow-800',
      'bg-yellow-900',
      'bg-yellow-950',
    ],
    neutrals: [
      'bg-gray-50',
      'bg-gray-100',
      'bg-gray-200',
      'bg-gray-300',
      'bg-gray-400',
      'bg-gray-500',
      'bg-gray-600',
      'bg-gray-700',
      'bg-gray-800',
      'bg-gray-900',
      'bg-gray-950',
    ],
    supporting: [
      'bg-blue-50',
      'bg-blue-100',
      'bg-blue-200',
      'bg-blue-300',
      'bg-blue-400',
      'bg-blue-500',
      'bg-blue-600',
      'bg-blue-700',
      'bg-blue-800',
      'bg-blue-900',
      'bg-blue-950',
      'break',
      'bg-orange-50',
      'bg-orange-100',
      'bg-orange-200',
      'bg-orange-300',
      'bg-orange-400',
      'bg-orange-500',
      'bg-orange-600',
      'bg-orange-700',
      'bg-orange-800',
      'bg-orange-900',
      'bg-orange-950',
      'break',
      'bg-red-50',
      'bg-red-100',
      'bg-red-200',
      'bg-red-300',
      'bg-red-400',
      'bg-red-500',
      'bg-red-600',
      'bg-red-700',
      'bg-red-800',
      'bg-red-900',
      'bg-red-950',
      'break',
      'bg-green-50',
      'bg-green-100',
      'bg-green-200',
      'bg-green-300',
      'bg-green-400',
      'bg-green-500',
      'bg-green-600',
      'bg-green-700',
      'bg-green-800',
      'bg-green-900',
      'bg-green-950',
    ],
  },
};
