.palette18 {
  /* primary purple */
  color: #faf5ff;
  color: #f3e8ff;
  color: #e9d5ff;
  color: #d8b4fe;
  color: #c084fc;
  color: #a855f7;
  color: #9333ea;
  color: #7e22ce;
  color: #6b21a8;
  color: #581c87;
  color: #3b0764;

  /* neutrals warm-grey */
  color: #faf9f7;
  color: #e8e6e1;
  color: #d3cec4;
  color: #b8b2a7;
  color: #a39e93;
  color: #857f72;
  color: #625d52;
  color: #504a40;
  color: #423d33;
  color: #27241d;

  /* supporting cyan */
  color: #ecfeff;
  color: #cffafe;
  color: #a5f3fc;
  color: #67e8f9;
  color: #22d3ee;
  color: #06b6d4;
  color: #0891b2;
  color: #0e7490;
  color: #155e75;
  color: #164e63;
  color: #083344;

  /* supporting red-vivid */
  color: #ffe3e3;
  color: #ffbdbd;
  color: #ff9b9b;
  color: #f86a6a;
  color: #ef4e4e;
  color: #e12d39;
  color: #cf1124;
  color: #ab091e;
  color: #8a041a;
  color: #610316;

  /* supporting yellow */
  color: #fefce8;
  color: #fef9c3;
  color: #fef08a;
  color: #fde047;
  color: #facc15;
  color: #eab308;
  color: #ca8a04;
  color: #a16207;
  color: #854d0e;
  color: #713f12;
  color: #422006;

  /* supporting green-vivid */
  color: #e3f9e5;
  color: #c1f2c7;
  color: #91e697;
  color: #51ca58;
  color: #31b237;
  color: #18981d;
  color: #0f8613;
  color: #0e7817;
  color: #07600e;
  color: #014807;
}
