.palette8 {
  /* primary blue-vivid */
  color: #e6f6ff;
  color: #bae3ff;
  color: #7cc4fa;
  color: #47a3f3;
  color: #2186eb;
  color: #0967d2;
  color: #0552b5;
  color: #03449e;
  color: #01337d;
  color: #002159;

  /* neutrals cool-grey */
  color: #f5f7fa;
  color: #e4e7eb;
  color: #cbd2d9;
  color: #9aa5b1;
  color: #7b8794;
  color: #616e7c;
  color: #52606d;
  color: #3e4c59;
  color: #323f4b;
  color: #1f2933;

  /* supporting cyan-vivid */
  color: #e1fcf8;
  color: #c1fef6;
  color: #92fdf2;
  color: #62f4eb;
  color: #3ae7e1;
  color: #1cd4d4;
  color: #0fb5ba;
  color: #099aa4;
  color: #07818f;
  color: #05606e;

  /* supporting orange-vivid */
  color: #ffe8d9;
  color: #ffd0b5;
  color: #ffb088;
  color: #ff9466;
  color: #f9703e;
  color: #f35627;
  color: #de3a11;
  color: #c52707;
  color: #ad1d07;
  color: #841003;

  /* supporting red-vivid */
  color: #ffe3e3;
  color: #ffbdbd;
  color: #ff9b9b;
  color: #f86a6a;
  color: #ef4e4e;
  color: #e12d39;
  color: #cf1124;
  color: #ab091e;
  color: #8a041a;
  color: #610316;

  /* supporting yellow-vivid */
  color: #fffbea;
  color: #fff3c4;
  color: #fce588;
  color: #fadb5f;
  color: #f7c948;
  color: #f0b429;
  color: #de911d;
  color: #cb6e17;
  color: #b44d12;
  color: #8d2b0b;
}
