.palette3 {
  /* primary purple*/
  color: #faf5ff;
  color: #f3e8ff;
  color: #e9d5ff;
  color: #d8b4fe;
  color: #c084fc;
  color: #a855f7;
  color: #9333ea;
  color: #7e22ce;
  color: #6b21a8;
  color: #581c87;
  color: #3b0764;

  /* primary teal*/
  color: #f0fdfa;
  color: #ccfbf1;
  color: #99f6e4;
  color: #5eead4;
  color: #2dd4bf;
  color: #14b8a6;
  color: #0d9488;
  color: #0f766e;
  color: #115e59;
  color: #134e4a;
  color: #042f2e;

  /* neutrals blue-gray*/
  color: #f0f4f8;
  color: #d9e2ec;
  color: #bcccdc;
  color: #9fb3c8;
  color: #829ab1;
  color: #627d98;
  color: #486581;
  color: #334e68;
  color: #243b53;
  color: #102a43;

  /* supporting light-blue-vivid*/
  color: #e3f8ff;
  color: #b3ecff;
  color: #81defd;
  color: #5ed0fa;
  color: #40c3f7;
  color: #2bb0ed;
  color: #1992d4;
  color: #127fbf;
  color: #0b69a3;
  color: #035388;

  /* supporting red-vivid*/
  color: #ffe3e3;
  color: #ffbdbd;
  color: #ff9b9b;
  color: #f86a6a;
  color: #ef4e4e;
  color: #e12d39;
  color: #cf1124;
  color: #ab091e;
  color: #8a041a;
  color: #610316;

  /* supporting yellow-vivid*/
  color: #fffbea;
  color: #fff3c4;
  color: #fce588;
  color: #fadb5f;
  color: #f7c948;
  color: #f0b429;
  color: #de911d;
  color: #cb6e17;
  color: #b44d12;
  color: #8d2b0b;
}
