.ant-eater {
  /* NEUTRALS */
  /* neutrals (gray)*/
  color: hsl(210, 20%, 98%); /* 50 */
  color: hsl(220, 14%, 96%); /* 100 */
  color: hsl(220, 13%, 91%); /* 200 */
  color: hsl(216, 12%, 84%); /* 300 */
  color: hsl(218, 11%, 65%); /* 400 */
  color: hsl(220, 9%, 46%); /* 500 */
  color: hsl(215, 14%, 34%); /* 600 */
  color: hsl(217, 19%, 27%); /* 700 */
  color: hsl(215, 28%, 17%); /* 800 */
  color: hsl(221, 39%, 11%); /* 900 */
  color: hsl(224, 71%, 4%); /* 950 */

  /* PRIMARY */
  /* primary indigo */
  color: hsl(226, 100%, 97%); /*  50 */
  color: hsl(226, 100%, 94%); /* 100 */
  color: hsl(228, 96%, 89%); /* 200 */
  color: hsl(230, 94%, 82%); /* 300 */
  color: hsl(234, 89%, 74%); /* 400 */
  color: hsl(239, 84%, 67%); /* 500 */
  color: hsl(243, 75%, 59%); /* 600 */
  color: hsl(245, 58%, 51%); /* 700 */
  color: hsl(244, 55%, 41%); /* 800 */
  color: hsl(242, 47%, 34%); /* 900 */
  color: hsl(244, 47%, 20%); /* 950 */
  /* primary cyan-vivid */
  color: hsl(171, 82%, 94%); /*  50 */
  color: hsl(172, 97%, 88%); /* 100 */
  color: hsl(174, 96%, 78%); /* 200 */
  color: hsl(176, 87%, 67%); /* 300 */
  color: hsl(178, 78%, 57%); /* 400 */
  color: hsl(180, 77%, 47%); /* 500 */
  color: hsl(182, 85%, 39%); /* 600 */
  color: hsl(184, 90%, 34%); /* 700 */
  color: hsl(186, 91%, 29%); /* 800 */
  color: hsl(188, 91%, 23%); /* 900 */

  /* SUPPORTING */
  /* supporting pink-vivid */
  color: hsl(341, 100%, 95%); /*  50 */
  color: hsl(338, 100%, 86%); /* 100 */
  color: hsl(336, 100%, 77%); /* 200 */
  color: hsl(334, 86%, 67%); /* 300 */
  color: hsl(330, 79%, 56%); /* 400 */
  color: hsl(328, 85%, 46%); /* 500 */
  color: hsl(326, 90%, 39%); /* 600 */
  color: hsl(324, 93%, 33%); /* 700 */
  color: hsl(322, 93%, 27%); /* 800 */
  color: hsl(320, 100%, 19%); /* 900 */
  /* supporting red-vivid */
  color: hsl(0, 100%, 95%); /*  50 */
  color: hsl(0, 100%, 87%); /* 100 */
  color: hsl(0, 100%, 80%); /* 200 */
  color: hsl(0, 91%, 69%); /* 300 */
  color: hsl(0, 83%, 62%); /* 400 */
  color: hsl(356, 75%, 53%); /* 500 */
  color: hsl(354, 85%, 44%); /* 600 */
  color: hsl(352, 90%, 35%); /* 700 */
  color: hsl(350, 94%, 28%); /* 800 */
  color: hsl(348, 94%, 20%); /* 900 */
  /* supporting yellow-vivid */
  color: hsl(49, 100%, 96%); /*  50 */
  color: hsl(48, 100%, 88%); /* 100 */
  color: hsl(48, 95%, 76%); /* 200 */
  color: hsl(48, 94%, 68%); /* 300 */
  color: hsl(44, 92%, 63%); /* 400 */
  color: hsl(42, 87%, 55%); /* 500 */
  color: hsl(36, 77%, 49%); /* 600 */
  color: hsl(29, 80%, 44%); /* 700 */
  color: hsl(22, 82%, 39%); /* 800 */
  color: hsl(15, 86%, 30%); /* 900 */
  /* supporting green-vivid */
  color: hsl(125, 65%, 93%); /*  50 */
  color: hsl(127, 65%, 85%); /* 100 */
  color: hsl(124, 63%, 74%); /* 200 */
  color: hsl(123, 53%, 55%); /* 300 */
  color: hsl(123, 57%, 45%); /* 400 */
  color: hsl(122, 73%, 35%); /* 500 */
  color: hsl(122, 80%, 29%); /* 600 */
  color: hsl(125, 79%, 26%); /* 700 */
  color: hsl(125, 86%, 20%); /* 800 */
  color: hsl(125, 97%, 14%); /* 900 */
}
