.swatches {
  /* red */
  color: #ffeeee;
  color: #facdcd;
  color: #f29b9b;
  color: #e66a6a;
  color: #d64545;
  color: #ba2525;
  color: #a61b1b;
  color: #911111;
  color: #780a0a;
  color: #610404;
  color: #450a0a;
  /* red vivid */
  color: #ffe3e3;
  color: #ffbdbd;
  color: #ff9b9b;
  color: #f86a6a;
  color: #ef4e4e;
  color: #e12d39;
  color: #cf1124;
  color: #ab091e;
  color: #8a041a;
  color: #610316;
  /* orange */
  color: #ffefe6;
  color: #ffd3ba;
  color: #fab38b;
  color: #ef8e58;
  color: #e67635;
  color: #c65d21;
  color: #ab4e19;
  color: #8c3d10;
  color: #77340d;
  color: #572508;
  color: #431407;
  /* orange vivid */
  color: #ffe8d9;
  color: #ffd0b5;
  color: #ffb088;
  color: #ff9466;
  color: #f9703e;
  color: #f35627;
  color: #de3a11;
  color: #c52707;
  color: #ad1d07;
  color: #841003;
  /* yellow */
  color: #fffaeb;
  color: #fcefc7;
  color: #f8e3a3;
  color: #f9da8b;
  color: #f7d070;
  color: #e9b949;
  color: #c99a2e;
  color: #a27c1a;
  color: #7c5e10;
  color: #513c06;
  color: #422006;
  /* yellow vivid */
  color: #fffbea;
  color: #fff3c4;
  color: #fce588;
  color: #fadb5f;
  color: #f7c948;
  color: #f0b429;
  color: #de911d;
  color: #cb6e17;
  color: #b44d12;
  color: #8d2b0b;
  /* lime green */
  color: #f2fde0;
  color: #e2f7c2;
  color: #c7ea8f;
  color: #abdb5e;
  color: #94c843;
  color: #7bb026;
  color: #63921a;
  color: #507712;
  color: #42600c;
  color: #2b4005;
  /* lime green vivid */
  color: #f8ffed;
  color: #e6ffbf;
  color: #caff84;
  color: #aff75c;
  color: #8ded2d;
  color: #6cd410;
  color: #5cb70b;
  color: #399709;
  color: #2e7b06;
  color: #1e5303;
  /* green */
  color: #e3f9e5;
  color: #c1eac5;
  color: #a3d9a5;
  color: #7bc47f;
  color: #57ae5b;
  color: #3f9142;
  color: #2f8132;
  color: #207227;
  color: #0e5814;
  color: #05400a;
  color: #052e16;
  /* green vivid */
  color: #e3f9e5;
  color: #c1f2c7;
  color: #91e697;
  color: #51ca58;
  color: #31b237;
  color: #18981d;
  color: #0f8613;
  color: #0e7817;
  color: #07600e;
  color: #014807;
  /* teal */
  color: #effcf6;
  color: #c6f7e2;
  color: #8eedc7;
  color: #65d6ad;
  color: #3ebd93;
  color: #27ab83;
  color: #199473;
  color: #147d64;
  color: #0c6b58;
  color: #014d40;
  color: #042f2e;
  /* teal vivid */
  color: #f0fcf9;
  color: #c6f7e9;
  color: #8eedd1;
  color: #5fe3c0;
  color: #2dcca7;
  color: #17b897;
  color: #079a82;
  color: #048271;
  color: #016457;
  color: #004440;
  /* cyan */
  color: #e0fcff;
  color: #bef8fd;
  color: #87eaf2;
  color: #54d1db;
  color: #38bec9;
  color: #2cb1bc;
  color: #14919b;
  color: #0e7c86;
  color: #0a6c74;
  color: #044e54;
  color: #083344;
  /* cyan vivid */
  color: #e1fcf8;
  color: #c1fef6;
  color: #92fdf2;
  color: #62f4eb;
  color: #3ae7e1;
  color: #1cd4d4;
  color: #0fb5ba;
  color: #099aa4;
  color: #07818f;
  color: #05606e;
  /* light blue */
  color: #ebf8ff;
  color: #d1eefc;
  color: #a7d8f0;
  color: #7cc1e4;
  color: #55aad4;
  color: #3994c1;
  color: #2d83ae;
  color: #1d6f98;
  color: #166086;
  color: #0b4f71;
  /* light blue vivid */
  color: #e3f8ff;
  color: #b3ecff;
  color: #81defd;
  color: #5ed0fa;
  color: #40c3f7;
  color: #2bb0ed;
  color: #1992d4;
  color: #127fbf;
  color: #0b69a3;
  color: #035388;
  /* blue */
  color: #dceefb;
  color: #b6e0fe;
  color: #84c5f4;
  color: #62b0e8;
  color: #4098d7;
  color: #2680c2;
  color: #186faf;
  color: #0f609b;
  color: #0a558c;
  color: #003e6b;
  color: #172554;
  /* blue vivid */
  color: #e6f6ff;
  color: #bae3ff;
  color: #7cc4fa;
  color: #47a3f3;
  color: #2186eb;
  color: #0967d2;
  color: #0552b5;
  color: #03449e;
  color: #01337d;
  color: #002159;
  /* indigo */
  color: #e0e8f9;
  color: #bed0f7;
  color: #98aeeb;
  color: #7b93db;
  color: #647acb;
  color: #4c63b6;
  color: #4055a8;
  color: #35469c;
  color: #2d3a8c;
  color: #19216c;
  color: #1e1b4b;
  /* indigo vivid */
  color: #d9e8ff;
  color: #b0d0ff;
  color: #88b1fc;
  color: #5e8aee;
  color: #3a66db;
  color: #2251cc;
  color: #1d3dbf;
  color: #132dad;
  color: #0b1d96;
  color: #061178;
  /* purple */
  color: #eae2f8;
  color: #cfbcf2;
  color: #a081d9;
  color: #8662c7;
  color: #724bb7;
  color: #653cad;
  color: #51279b;
  color: #421987;
  color: #34126f;
  color: #240754;
  color: #3b0764;
  /* purple vivid */
  color: #f2ebfe;
  color: #dac4ff;
  color: #b990ff;
  color: #a368fc;
  color: #9446ed;
  color: #8719e0;
  color: #7a0ecc;
  color: #690cb0;
  color: #580a94;
  color: #44056e;
  /* magenta */
  color: #f5e1f7;
  color: #ecbdf2;
  color: #ce80d9;
  color: #bb61c7;
  color: #ad4bb8;
  color: #a23dad;
  color: #90279c;
  color: #7c1a87;
  color: #671270;
  color: #4e0754;
  /* magenta vivid */
  color: #fdebff;
  color: #f8c4fe;
  color: #f48fff;
  color: #f368fc;
  color: #ed47ed;
  color: #e019d0;
  color: #cb10b8;
  color: #b30ba3;
  color: #960888;
  color: #6e0560;
  /* pink */
  color: #ffe0f0;
  color: #fab8d9;
  color: #f191c1;
  color: #e668a7;
  color: #da4a91;
  color: #c42d78;
  color: #ad2167;
  color: #9b1b5a;
  color: #781244;
  color: #5c0b33;
  color: #500724;
  /* pink vivid */
  color: #ffe3ec;
  color: #ffb8d2;
  color: #ff8cba;
  color: #f364a2;
  color: #e8368f;
  color: #da127d;
  color: #bc0a6f;
  color: #a30664;
  color: #870557;
  color: #620042;
  /* blue gray */
  color: #f0f4f8;
  color: #d9e2ec;
  color: #bcccdc;
  color: #9fb3c8;
  color: #829ab1;
  color: #627d98;
  color: #486581;
  color: #334e68;
  color: #243b53;
  color: #102a43;
  /* cool gray */
  color: #f5f7fa;
  color: #e4e7eb;
  color: #cbd2d9;
  color: #9aa5b1;
  color: #7b8794;
  color: #616e7c;
  color: #52606d;
  color: #3e4c59;
  color: #323f4b;
  color: #1f2933;
  /* gray */
  color: #f7f7f7;
  color: #e1e1e1;
  color: #cfcfcf;
  color: #b1b1b1;
  color: #9e9e9e;
  color: #7e7e7e;
  color: #626262;
  color: #515151;
  color: #3b3b3b;
  color: #222222;
  color: #030712;
  /* warm gray */
  color: #faf9f7;
  color: #e8e6e1;
  color: #d3cec4;
  color: #b8b2a7;
  color: #a39e93;
  color: #857f72;
  color: #625d52;
  color: #504a40;
  color: #423d33;
  color: #27241d;
}
